@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Kiwi+Maru:wght@300&display=swap');
 /* @media screen and (max-width: 700px) and (min-width: 320px){ */
    

*{
    margin: 0;
    box-sizing: border-box;
    font-family: Kiwi Maru, Arial, Helvetica, sans-serif;
    font-size: 16px;
}
body.dark{
    --background-header: #1e1c3d;
    --background: #232d64;
    --color: #ffffff;
    --background-boton: #1e1c3d;
    --verde: #2e7d32;
    --negro: #000;
    --background-boton-descarga: #1e1c3d;
    --background-aside: #21262d;
    --background-input: #484f58;
}
body.light{
    --background-header: #DDCFE6;
    --background: #EFDFF7;
    --color: #000000;
    --blanco: #fff;
    --background-boton: #DDCFE6;
    --verde: #2e7d32;
    --negro: #000;
    --background-boton-descarga: #232d64;
    --background-aside: #EFDFF7;
    --background-input: #DDCFE6;
}
html, body{
    height: 100vh;
    margin: 0;
}
/*
body{
    overflow: hidden;
}

/*  CLASES FLEX-BOX */
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.content-center{
    justify-content: center;    
}
.content-right{
    justify-content: right;
}
.content-space-between{
    justify-content: space-between;
}
.content-space-around{
    justify-content: space-around;
}
.alignitems-center{
    align-items:center;
}
.alignitems-end{
    align-items: flex-end;
}

/* CLASE OCULTO */

.oculto{
    display: none;
}
/* ESTILO PANEL PRINCIPAL */

.panel-meme{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.contenedorHeader{
    background-color: var(--background-header);
    color: var(--color);
}
.titulo{
    padding: 10px;
    font-size: 1.5em;
}
.contenedor-botones{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5px;
}
.boton-funcional{
    background-color: var(--background-boton);
    color: var(--color);
    font-size: 0.94em;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.fas, .far{
    margin-right: 5px;
}
.fa-file-image{
    margin-right: 5px;
}
/*
.contenedor-editor{
    background-color: var(--background);
}
*/
.container-meme{
    display: flex;
    background-color: var(--background);
    padding: 0 20px;
    flex-grow: 1;
}
.caja-meme{
    width: 100%;
    max-width: 610px;
    height: 320px;
    background-color: var(--negro);
}
#imagen-meme{
    width: 100%;
    flex-grow: 1;
    background-size: cover;
}
.textos-meme{
    width: 100%;
    background-color: var(--blanco);
    text-align: center;
    padding: 7px 50px;
    font-family: Dela Gothic One, Arial, Helvetica, sans-serif;
}
.boton-descarga{
    background-color: var(--background-boton-descarga);
    color: var(--blanco);
    padding: 15px;
    margin-top: 30px;
    cursor: pointer;
    border: none;
}


 /* ESTILO PANEL IMAGEN */
 .panel{
     width: 100%;
     background-color: var(--background-aside);
     padding: 10px;
     color: var(--color);
     z-index: 10;
     position: fixed;
     top: 0;
     
 }
 input, textarea, select, .boton-panel{
     background-color: var(--background-input);
     border: 0;
     margin: 5px 5px 5px 0;
     border-radius: 5px;
 }
 #cerrarPanelImagen{
     cursor: pointer;
     border: none;
     background-color: var(--background-aside)
 }

 label{
     width: 100%;
     font-size: 0.79rem;
     margin-top: 10px;
 }
 #fondoImg{
     width: 50%;
 }
.titulo-aside{
    text-align: center;
    font-size: 1.1em;
}
.titulo-input{
    margin-top: 20px;
    font-size: 0.7em;
}
.input-paneles{
    width: 100%;
    height: 2em;
}

/* }  */

@media (min-width: 768px) { 
    .oculto{
        display: auto;
    }
    .oculto-escritorio{
        display: oculto;
    }
    /*
    body{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
    }
    */
    .panel-meme{
        width: 100vw;
        z-index: 1;
    }
    .panel{
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            width: 20%;
            background-color: var(--background-aside);
            padding: 20px;
            color: var(--color);
    }
    #cerrarPanelImagen{
        display: none;
    }
}